<div class="row">
	<div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
		<h2>Forgot your password?</h2>
		<div class="panel panel-default">
			<div class="panel-body">
				<div ng-show="error" class="alert alert-danger show-hide" role="alert">{{error}}</div>
				<div ng-show="success" class="alert alert-success show-hide" role="alert"><span class="glyphicon glyphicon-ok"></span> Check your email! Then <a href="#/login">log in</a>.</div>
				<form ng-submit="recoverPassword()" role="form">
					<div class="form-group">
						<input type="email" ng-model="user.email" placeholder="Enter Your Email" class="form-control">
					</div>
					<input type="submit" value="Recover Password" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>
</div>

